<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Machine Learning App with Flask
		</div>
		<h2>Test</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="/classify" method="POST">
		<p>Enter Your Message Here</p>
		<textarea name="comment" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="Classify">
		
	</form>
		
	</div>

	
	

</body>
</html>